{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="UTF-8">
    <title>Club for Future</title>

    <!-- Styles -->
    <link rel='stylesheet' href="{% static 'css/bootstrap.min.css' %}">
    <link rel='stylesheet' href="{% static 'css/animate.min.css' %}">
    <link rel='stylesheet' href="{% static 'css/font-awesome.min.css' %}"/>
    <link rel='stylesheet' href="{% static 'css/style.css' %}"/>

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700,800' rel='stylesheet'
          type='text/css'>

    <!-- Favicon -->
    <link rel="shortcut icon" href="#">
</head>

<body>

    <!-- Start Header
    ================================================== -->
    {% include 'base/header.html' %}
    {% block content %}
    {% endblock %}

</body>
</html>