<!-- Start Header
================================================== -->
<header id="header" class="navbar navbar-inverse navbar-fixed-top" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- Your Logo -->
            <a href="#hero" class="navbar-brand">CLUB FOR FUTURE <span class="lighter">KYUSTENDIL</span></a>
        </div>
        <!-- Start Navigation -->
        <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#hero">Home</a>
                </li>
                <li>
                    <a href="#about">About</a>
                </li>
                <li>
                    <a href="#gallery">Helping Hands</a>
                </li>
                <li>
                    <a href="#slider">Causes</a>
                </li>
                <li>
                    <a href="#faq">FAQ</a>
                </li>
                <li>
                    <a href="#contactarea">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
</header>