.navbar-logo {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 5%; /* adjust the width as needed */
    height: auto; /* maintain the aspect ratio */
    vertical-align: middle;
  }
  
  .logo-text {
    margin-left: 10px; /* adjust the spacing between the logo and text */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .navbar-nav {
    display: flex;
    align-items: center;
  }