.navbar-logo {
    display: flex;
    align-items: center;
}

.logo {
    width: 5%; /* adjust the width as needed */
    height: auto; /* maintain the aspect ratio */
    vertical-align: middle;
}

.logo-text {
    margin-left: 10px; /* adjust the spacing between the logo and text */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar-nav {
    display: flex;
    align-items: self-start;
}

/*IT`S NOT DYNAMIC*/
.nav {
    padding-left: 200px;
}

.text-justify {
    text-align: justify;
}

.custom-card {
    background-color: #fdfdfe;
    display: flex;
}


@media (min-width: 992px) {
    .col-md-5.custom-col-md-5 {
        width: 100%;
    }
}


/*CAUSES*/
.col-sm-4 {
    padding: 15px;
}

.custom-card .card {
    flex: 1;
}

#gallery .custom-card-img-top {
    object-fit: cover;
    height: 200px;
}

.card-body {
    margin: 5px;
}

#gallery img:hover {
    transform: scale(1.3);
}


/*ABOUT US*/

/*NOT WORKING - WHY???*/
#hero.custom-section {
    padding: 50px;
}
