{% extends 'base/base.html' %}

{% block main_content %}
    <section id="people" class="section custom-section">
        <div class="container">
            <div class="row">
                <h2 class="wow bounceInDown"><span
                        class="lighter">OUR</span> PEOPLE</h2>
                <p class="lead text-justify">
                    At this stage, the Club has 15 members. Each of us tries to be useful and
                    contribute something to develop and ennoble the environment surrounding us. We believe that in order
                    to be truly strong, it is important to know each other's strengths, which is why we want to share
                    them
                    with you.
                </p>
                <p><a href="#" class="btn btn-default btn-lg wow fadeInLeft" role="button"> JOIN US </a></p>
            </div>

            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card h-100">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h3 class="card-title">Vesela Grozdanova</h3>
                            <h5 class="card-subtitle">Coordinator of the "Caps for the Future" campaign</h5>
                            <p class="card-text">
                                Vesela is our Assistant Coordinator for the "Caps for the Future"
                                campaign - the person who is inextricably next to Silvia and helps with everything about
                                the campaign since the second year the campaign has been held in the city. <span
                                    id="additionalText" class="additional-text hidden">She knows how
                                to make everything work, extremely responsive and dedicated to helping. Her priority is
                                causes related to the purity of nature. Her big heart does not allow her to get
                                angry/offensive and helps her to forgive easily. She is one of those people who will
                                always respond if needed. It always helps!
                                To contact her - on the mobile phone.</span>
                                <a href="#" onclick="toggleAdditionalText()" id="moreLink">... <span
                                        id="moreLabel">More</span></a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h3 class="card-title">Violina Stoimenova</h3>
                            <h5 class="card-subtitle">Cashier</h5>
                            {#                            NOT WORKING CORRECT - CANT HAVE EAQUALS IDS - CHANGE IT#}
                            <p class="card-text">
                                Violina is our Cashier - the person to whom we have entrusted the responsibility for the
                                money, she monitors the incoming and outgoing amounts.<span id="additionalText"
                                                                                            class="additional-text hidden">Violina is also our coordinator for the village of Zhilentsi. She is another person with a big heart with us. Her strengths are creativity, communication and persistence. Extremely responsible, organized and consistent. She knows how to organize groups of people, and she is very easy and pleasant to work with. She is dedicated and as a bonus to all this we will also add her sense of humor. Since Violina works in a community center, it has a room for storing caps and a stage for concerts and events. Has experience in previous charity campaigns. She is interested in the world around her, knows how to see the problem and fights until she solves it.</span>
                                <a href="#" onclick="toggleAdditionalText()" id="moreLink">... <span
                                        id="moreLabel">More</span></a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h3 class="card-title">Violina Stoimenova</h3>
                            <h5 class="card-subtitle">Cashier</h5>
                            {#                            NOT WORKING CORRECT - CANT HAVE EAQUALS IDS - CHANGE IT#}
                            <p class="card-text">
                                Violina is our Cashier - the person to whom we have entrusted the responsibility for the
                                money, she monitors the incoming and outgoing amounts.<span id="additionalText"
                                                                                            class="additional-text hidden">Violina is also our coordinator for the village of Zhilentsi. She is another person with a big heart with us. Her strengths are creativity, communication and persistence. Extremely responsible, organized and consistent. She knows how to organize groups of people, and she is very easy and pleasant to work with. She is dedicated and as a bonus to all this we will also add her sense of humor. Since Violina works in a community center, it has a room for storing caps and a stage for concerts and events. Has experience in previous charity campaigns. She is interested in the world around her, knows how to see the problem and fights until she solves it.</span>
                                <a href="#" onclick="toggleAdditionalText()" id="moreLink">... <span
                                        id="moreLabel">More</span></a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h3 class="card-title">Violina Stoimenova</h3>
                            <h5 class="card-subtitle">Cashier</h5>
                            {#                            NOT WORKING CORRECT - CANT HAVE EAQUALS IDS - CHANGE IT#}
                            <p class="card-text">
                                Violina is our Cashier - the person to whom we have entrusted the responsibility for the
                                money, she monitors the incoming and outgoing amounts.<span id="additionalText"
                                                                                            class="additional-text hidden">Violina is also our coordinator for the village of Zhilentsi. She is another person with a big heart with us. Her strengths are creativity, communication and persistence. Extremely responsible, organized and consistent. She knows how to organize groups of people, and she is very easy and pleasant to work with. She is dedicated and as a bonus to all this we will also add her sense of humor. Since Violina works in a community center, it has a room for storing caps and a stage for concerts and events. Has experience in previous charity campaigns. She is interested in the world around her, knows how to see the problem and fights until she solves it.</span>
                                <a href="#" onclick="toggleAdditionalText()" id="moreLink">... <span
                                        id="moreLabel">More</span></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}